//Scroll To Top Start Here
.scrollTop {
  position: fixed;
  bottom: 5%;
  right: 2% !important;
  padding: 20px;
  z-index: 0.7;
  cursor: pointer;
  animation: fadeIn 0.3s;
  transition: opacity 0.4s;
  opacity: 1;
  background: #2f3191f3;
  color: yellow;
  border-radius: 50% !important;
  font-size: 60px !important;
}

.scrollTop:hover {
  opacity: 1;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.5;
  }
}
//Scroll To Top Ends Here
