@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
$primary-color: #2f3191f3;
$secondary-color: #000;
$tertiary-color: #fff;
$fourth-color: #212529;
$nav-shadow-color: #bababa;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
}

html {
  font-size: 62.5%;
  cursor: none !important;
}

html {
  --cursor-color: rgb(133, 58, 202) !important;
}

::selection {
  background: $primary-color;
  color: $tertiary-color;
}

body {
  background: #f8f9fa !important;
  cursor: none !important;
}

h6 {
  border: 1px solid black;
  font-size: 1.9rem !important;
}

// ****************************************************Scroll Whole Website Start Here**************************************************************
//Scroll Bar Of Website Design Start Here
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px color-text-butn;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: $primary-color  !important;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: $primary-color  !important;
}

//Scroll Bar Of Website Design Ends Here
// ****************************************************Scroll Whole Website End Here*****************************************************************
// ****************************************************Navbar Css Starts From Here*******************************************************************
.main {
  background: #fff;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  -webkit-transition: all 0.7s;
  -o-transition: 0.7s all;
  transition: all 0.7s;
}

.main.scrolled {
  background: $primary-color;
  position: sticky;
  color: $primary-color  !important;
  -webkit-box-shadow: 0 1px 4px $nav-shadow-color;
  box-shadow: 0 1px 4px $nav-shadow-color;

  .nav-link {
    color: $tertiary-color  !important;
  }
}

.nav-link {
  padding: 10px !important;
  color: $secondary-color;
  font-size: 1.7rem !important;

  &:hover {
    color: $primary-color  !important;
  }
}

.active {
  color: $primary-color  !important;
}

.resume_butn {
  margin-left: 10px !important;
  background: $primary-color  !important;
  color: $tertiary-color  !important;
  border: none;
  outline: none;
  font-size: 1.6rem !important;
  border-radius: 5px !important;

  &:hover {
    color: $tertiary-color  !important;
  }
}

////////////////////////////// Home Starts From Here ///////////////////////

.home_intro h4 {
  font-size: 42px;
  font-weight: bolder;
  margin-top: 50px;
}

.home_intro h3 {
  font-size: 32px;
}

.home_intro h6 {
  margin-top: 10px;
  font-size: 22px;
  border: none !important;
  line-height: 1.5;
}

.home_intro button {
  width: 180px;
  margin: 10px;
  font-size: 20px;
  padding: 8px 10px;
  border: none;
}

.btn1 {
  background: $fourth-color  !important;
  color: $tertiary-color  !important;
}

.btn2 {
  background: $primary-color  !important;
  color: $tertiary-color  !important;
}

.home_image img {
  border-radius: 50px;
  height: 100%;
  width: 100%;
}

.home_icons {
  margin-left: 30px;
  font-size: 45px;
}

.home_icons span:nth-child(1) {
  color: $primary-color  !important;
}

.home_icons span:nth-child(2) {
  color: $secondary-color;
}

.home_icons span:nth-child(3) {
  color: $primary-color  !important;
}

//////////////////////////////////////About Css Start From Here
.main_head {
  line-height: 0;
  margin-bottom: 30px;

  h4 {
    text-align: center;
    font-size: 45px;
    font-weight: 700;
  }

  p {
    font: 500;
    font-size: 16px;
    color: $fourth-color  !important;
    border-bottom: 2px solid $fourth-color;
    width: max-content;
    position: absolute;
    padding-top: 20px;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-bottom: 20px;
  }
}

.about_info h6 {
  font-size: 19px;
  margin-top: 10px;
  border: none !important;
  line-height: 1.5;
}

.about_info .highlights {
  color: $fourth-color;
}

.dots span {
  font-size: 17px !important;
  display: block;
  line-height: 0 !important;
}

.dots span::before {
  content: '.';
  color: $primary-color;
  line-height: 0 !important;
  margin-right: 30px;
  width: 1em;
  font-size: 100px;
}

.forimg {
  position: absolute;
}

////////////////Contact Css Start From Here
/// 
.for_shadow {
  border: 1px solid $nav-shadow-color;
  border-radius: 15px !important;
  box-shadow: 0 0 10px -2px #1f2235;
}

.contact-info h6 {
  border: none;
  font-size: 32px !important;
}

.contact-info h5 {
  font-size: 26px !important;

}

.label {
  font-size: 19px !important;

  span {
    color: red;
  }
}

.form-control {
  padding: 12px !important;
  border-radius: 5px !important;
  font-size: 16px !important;
}

//////////////Exp Css start from here

.card{
  --bs-card-bg: none !important;
}
.card-head img {
  height: 100px;
}
.card-body p{
  font-size: 14px !important;
}
.card-body p::before {
    content: '.';
    color: $primary-color;
    line-height: 0 !important;
    margin-right: 5px;
    width: 1em;
    font-size: 100px;
}

.card-body h4 {
  font-size: 16px !important;
  margin-top: 10px;
  margin-bottom: 10px;
  border-bottom: 1px solid $fourth-color;
}

.card-body h6 {
  border: none !important;
}